
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Gris claro */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 150px; /* Espacio para la lista de productos */
}

header {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  color: #db1043;
}

.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007bff; /* Azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

.login-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #28a745; /* Verde */
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-menu input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-menu button {
  background-color: white;
  color: #28a745;
  font-weight: bold;
}

.create-user {
  margin-top: 10px;
  color: white;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.product-list {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.product {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-name {
  font-size: 18px;
  color: #333;
  margin: 10px 0 5px;
}

.product-description {
  font-size: 14px;
  color: #666;
}

.cart-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}

.cart-icon img {
  width: 100%;
  height: auto;
}

/* Posicionamiento de las imágenes laterales */
.side-images {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-image {
  margin-bottom: 15px;
  text-align: center;
}

.side-image img {
  width: 500px; /* Ajusta el tamaño según sea necesario */
  height: auto;
}